.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    background: blueviolet;
}